* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    
}


/* navbar css  */
.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    color: #9D9D9D;
    position: relative;
    padding: 0 20px !important;
}

.nav-link::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 4px;
    border-radius: 4px;
    background-color: #F6A51B;
    bottom: -8px;
    left: 51%;
    transform: translateX(-50%);
    transition: .25s;
}

.navbar {
    position: absolute;
    left: 0;
    width: 100%;
}

.nav-link:hover {
    color: #F6A51B;
}

.nav-link:active {
    background-color: #0056b3;
    color: white;
}

.nav-link:hover::after {
    width: 21px;
}

.button {
    background-color: #F6A51B;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    margin-left: 40px;
}

.button a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
}

/* banner css  */
/* banner css  */


#banner {
    background-color: #F9F3E9;
    padding-top: 212px;
}

.banner-left {
    padding-top: 68px;
}

.banner-left h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 70px;
    color: #414141;
    line-height: 90px;
    padding-right: 51px;
}

.banner-left p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-right: 50px;
    margin-bottom: 65px;
    margin-top: 30px;
}

.banner-left a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: white;
    background-color: #F6A51B;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.banner-left .btn2 {
    color: #F6A51B;
    background-color: #F9F3E9;
    border: 2px solid #F6A51B;
    display: inline-block;
}

.banner-right {
    padding-bottom: 98px;
}

.btn2:hover {
    background-color: #F6A51B;
    color: #F9F3E9;
    transition: color 0.45s, background-color 0.25s;
}

.btn1:hover {
    color: #e9e6e3;
    transition: 0.25s;
}

/* welcome css  */
/* welcome css  */


#welcome {
    padding-top: 150px;
}


.welcome-txt h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 80px;
    color: #414141;
}

.welcome-txt h1 span {
    color: #F6A51B;
}

.welcome-txt p {
    padding: 0 130px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.welcome-right {
    padding-top: 79px;
    padding-left: 40px;
}

.welcome-right h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 80px;
    color: #414141;
    padding-bottom: 20px;
}

.welcome-right p {
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9D9D9D;
}


.check-mark i {
    background-color: #243E8E;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    color: white;
    margin-right: 7px;
    margin-top: 6px;
}

/* welcome css  */

/* concerns css  */
/* concerns css  */


#concerns {
    padding-top: 192px;
}


.hovt {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #414141;
    position: relative;
    cursor: pointer;
}

.hovt::after {
    position: absolute;
    content: "";
   width: 148px;
    height: 10px;
    border-radius: 26px;
    background-color: #F6A51B;
    left: 3px;
    bottom: -15px;
    transform-origin: left;
    transition: width 0.25s ease;
}

.hovt:hover::after {
    
}


/* concerns css  */

.main{
    
    padding-top: 70px;
    padding-bottom: 150px;
}


.c-box img{
  
    width: 170px;
   height: 80px;
   
}
.c-box{
      padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.main-box {
  border: 1px solid #9d9d9d;
  border-radius: 15px;
  padding: 32px 25px 26px 22px;
  
}


.c-btn a {
  background-color: #f6a51b;
  padding: 8px 20px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.main-box p {
  font-size: 16px;
  line-height: 24px;
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-bottom: 70px;

}

.c-btn a{
    color: white;
}

.c-btn:hover{
    color: rgb(252, 236, 236);
}
/* concerns css  */


.head-txt2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.hovt2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #414141;
    position: relative;
    cursor: pointer;
}

.hovt2::after {
    position: absolute;
    content: "";
   width: 148px;
    height: 10px;
    border-radius: 26px;
    background-color: #F6A51B;
    right: 3px;
    bottom: -20px;
    transform-origin: right;
    transition: width 0.25s ease;
}

.hovt2:hover::after {
    
}

.growing-box h3{
       color: #F6A51B;
        font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding-top: 35px;
}

.growing-box p{
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #414141;
    line-height: 36px;
    padding-bottom: 32px;
}

.growing-box{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.116);
    border-radius: 15px;
    margin-top: 50px;
}

 /* faq css */

#faq{
    background-color: #F9F3E9;
    padding-top: 123px;
    margin-top: 153px;
}

.faq-right{
    margin-top: 27px;
    margin-left: 45px;
}

.faq-box{
    width: 704px;
    height: 80px;
    background-color:white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-between;
}


.faq-box p{
    padding-left: 26px;
     font-family: "Poppins", sans-serif;
     font-style: light;
    font-weight: 300;
    font-size: 18px;
    color: #9D9D9D;
}

.faq-box div{
    padding-right: 10px;
    color:#9D9D9D;
    font-size: 32px;
}

.faq-box2 p{
    padding-left: 26px;
     font-family: "Poppins", sans-serif;
     font-style: light;
    font-weight: 500;
    font-size: 22px;
     position: relative;
    color: #F6A51B;
}

.faq-box2 p::after{
    position: absolute;
    content: "";
    width: 595px;
    height: 3px;
    background-color: #9d9d9d91;
    left: 28px;
    filter: blur(20%);
    top: 50px;
}

.faq-m{
    margin-bottom: 50px;
}
.faq-box2{
    width: 704px;
    height: 253px;
    background-color:white;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 22px;
    position: relative;
    flex-wrap: wrap;
}



.accordion-button.collapsed{
    border-radius:15px ;
}

.accordion-body strong{
     display: block;
    line-height: 27px;
    color: #9D9D9D;
    padding-left: 26px;
     font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 44px;
    padding-left: 5px;
    padding-top: 22px;
    position: relative;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;   
  color: inherit;                  
  box-shadow: none;
  
  font-size: 24px;
    color: #F6A51B;
    transition: 0.25s;
}

.accordion-body strong::after{
    position: absolute;
    content:"";
    width: 92%;
    height: 2px;
    background-color: #9D9D9D;
    top: -5px;
    left: 2px;
    transition: width 0.25s ;
    visibility: transparent;
}

.accordion-collapse.show .accordion-body strong::after{
    visibility: visible;
}

.accordion-button{
    padding-left: 26px;
     font-family: "Poppins", sans-serif;
     font-style: light;
    font-weight: 300;
    font-size: 18px;
    color: #9D9D9D;

}

.accordion-item{
    border-radius:15px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 5px;
}

.faq-box2 i{
    padding-right: 10px;
    color:#9D9D9D;
    font-size: 32px;
   position: absolute;
   right:5px;
   top: 15px;
}

.faq-box2 h6{
    padding-left: 23px;
     font-family: "Poppins", sans-serif;
     font-style: light;
    font-weight: 300;
    color: #9D9D9D;
    font-size: 18px;
    padding-top:30px ;
    line-height: 27px !important;
    flex-wrap: wrap;
}
/* concerns css  */
/* success css  */

#success{
    padding-top: 150px;
    padding-bottom: 150px;
}

.success-p{
    padding-right: 20px;
}
.success-right{
    padding-left: 60px;
}

.success-right .h-success{
      font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #414141;
    font-size: 48px;
    line-height: 60px;
}

.success-right p{
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #9D9D9D;
    font-size: 18px;
    line-height: 27px;
    padding-top: 31px;
    padding-bottom: 48px;
}

.play{
    position: relative;
}
.success-left i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 124px;
    color: white;
}

.success-right .play{
    position: relative;
}

.success-right i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    color: white;
}



/* success css  */
/* learning css  */


#learning{
    margin-bottom: 150px;
   
}

.learning-padding{
    padding: 60px 0;
}

.bg{
     background-color: #F9F3E9;
     border-radius: 16px;
}

.learning-right h2{
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #414141;
    font-size: 48px;
    line-height: 70px;
}

.learning-right{
    margin-left: 59px;
    border-radius: 30px;
}

.form .form-t{
    flex: 1;
}

.form-t{
    max-width: 32rem;
    border: none;
    background-color: #F9F3E9;
    border-bottom: 2px solid #9A9A9A;
    
}

.form-floating{
    margin-top: 30px;
}




.form-floating .form-control:focus {
  box-shadow: none;
  border-color: #F6A51B;
  background-color: #F9F3E9;
}


.lbutton {
    background-color: #F6A51B;  
    color: white;                
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;             
    transition: all 0.3s ease; 
}

.learning-right .form-floating .form-control{
    border-radius: 0;
}

.btn5{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    padding-top: 50px;
}

/* footer css  */

.full-border{
    width: 100%;
    border-bottom: 1px solid #9D9D9D;
    margin-bottom: 50px;
}


.footer h5{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 13px;
}

.footer span{
     color: #F6A51B;
}

.footer-left p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #9D9D9D;
    padding-right: 50px;
    padding-bottom: 10px;
}

.footer-right h6{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 10px;
}

.footer-right p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #9D9D9D;
    
}

.footer-right .hhh{
    padding-top: 10px;
    
}

.footer-right {
    text-align: right; 
    padding-right: 0;  
}


.fa-brands{
    color: white;
    background-color: #F6A51B;
     padding: 5px;
     font-size: 38px;
     border-radius: 5px;
}

.i-icons{
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    margin-top: 30px;
}

.f-icons{
    display: flex;
    gap: 18px;
}

.mobile-logo{
    display:none ;
}


.button6 a{
        color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 24px;
     background-color: #F6A51B;
     border: 0;
}

.button6 .border{
       background-color: #F6A51B;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
}


